#popup{
  footer{
    margin: 0 3px 4px;
    font:normal .4em 'Arial',sans-serif;
    text-align:right;
    color:#999;
    display:table;
    width: 100%;
    div{
      display:table-cell;
      width:50%;
      padding: 5px;
    }
    div:nth-child(1){ width: 40%; }
    div:nth-child(2){ width: 60%; }
    a{
      padding: 2px 0;
      text-align: center;
      width: 80%;
      text-decoration: none;
      display:block;
      border-radius: 2px;
      border: solid 1px #ff8000;
      background: #ff8000;
      color: #fff;
      text-shadow: 0 1px rgba(0, 0, 0, 0.1);
      -webkit-transition: border 200ms ease-out;
      &:hover{
        border: 1px solid #d36308;
        border-bottom: 1px solid #984501;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: #ff8000;
        color: #fff;
      }
      &:focus{
        outline: 0;
      }
    }
  }
  .footer{
    font-size: .4em;
  }
  #logo_authense{
    background: url(/img/img.png) left center no-repeat;
    overflow: hidden;
    width:43px;
    height: 16px;
    display: inline-block;
    vertical-align:bottom;
    background-position: -141px center;
  }
}
#option{
  footer{
    margin: 35px 0 4px;
    font:normal .4em 'Arial',sans-serif;
    color:#999;
    display:block;
    border-top: solid 1px #ccc;
    padding-left: 20px;
  }
  #logo_authense{
    background: url(/img/img.png) left center no-repeat;
    overflow: hidden;
    width:43px;
    height: 16px;
    display: inline-block;
    vertical-align:bottom;
    background-position: -141px center;

  }
  .footer{
    font-size: .4em;
  }
}
