#popup{
  footer{
    margin: 0 3px 4px;
    font:normal .4em 'Arial',sans-serif;
    text-align:right;
    color:#999;
    display:table;
    width: 100%;
    div{
      display:table-cell;
      width:50%;
      padding: 0 5px;
    }
    div:nth-child(1){ width: 40%; }
    div:nth-child(2){ width: 60%; }
    a{
      padding: 0;
      width: 20px;
      height: 14px;
      text-align: left;
      text-decoration: none;
      display:block;
      border-radius: 2px;
      border: solid 1px #ff8000;
      background: #ff8000;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      -webkit-transition: all 200ms ease-out;

      &::after{
        content: " option";
        margin-top: -2px;
      }
      &:hover{
        border: 1px solid #d36308;
        border-bottom: 1px solid #984501;
        text-shadow:0 -1px 1px rgba(161, 73, 0, 0.4);;
        background: #ff8000;
        color: #fff;
        width: 60px;
      }
      &:focus{ outline: 0; }
      i[class^="icon-"]:before,
      i[class*=" icon-"]:before {
        font-size: 11px!important;
        margin: .2em .4em!important;
      }
    }
  }
  .footer{
    font-size: .4em;
  }
  #logo_authense{
    background: url(/img/img.png) left center no-repeat;
    overflow: hidden;
    width:43px;
    height: 16px;
    display: inline-block;
    vertical-align:bottom;
    background-position: -141px center;
  }
}
#option{
  footer{
    margin: 35px 0 4px;
    font:normal .4em 'Arial',sans-serif;
    color:#999;
    display:block;
    border-top: solid 1px #ccc;
    padding-left: 20px;
  }
  #logo_authense{
    background: url(/img/img.png) left center no-repeat;
    overflow: hidden;
    width:43px;
    height: 16px;
    display: inline-block;
    vertical-align:bottom;
    background-position: -141px center;

  }
  .footer{
    font-size: .4em;
  }
}
