@charset "UTF-8";


.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cw-1:before { content: '\2719'; } /* '✙' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */